
.App {
  font-family: Sherika, "Helvetica Neue", sans-serif;
}

.menu {
  background-color: black;
}

.widthContainer{
  max-width: 1275px;
}

.menu a{
  color: white;
  font-weight: 800;
  font-size: 14px;
  margin: 10px 14px;
  padding: 0;
}

.featured {
  background-color: royalblue;
}

.hero{
  min-width: 100%;
  height: 930px;
  background-repeat: no-repeat;

}


/* .hero-content {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  z-index: 1000;
} */

.hero h1{
color: white;
  font-weight: 600;
  font-size: 75px;
  margin-bottom: 40px;
  margin: 0px 0px 1.45rem;
    padding: 0px;
    padding-top: 150px;
    font-weight: 800;
    line-height: 1.1;
}

.hero-paragraph {
    color: white;
    font-family: Sherika, "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    width: 75%;
  }
  
  .arrow{
    width: 660px; 
    height: 680px; 
    object-fit: contain; 
    object-position: center bottom;
  }
  
  .hero-buttons{
    padding-bottom: 150px;
    padding-right: 25px ;
}

.btn-orange{
  background-color: orangered;
  border-radius: 23px;
  font-weight: 800;
}

.btn-blue{
  border-radius: 23px;
  background-color: rgb(27, 100, 239);
  font-weight: 800;
}

.counter-container{
  background-color: white;
}

.counter span {
  font-family: Sherika, "Helvetica Neue", sans-serif;
  font-size: 88px;
  line-height: 1;
  font-weight: 900;
  color: rgb(247, 78, 1);
  margin: 50px 0 25px 40px;
  display: block;
}

.counter p{
  width: 100%;
    font-size: 20px;
    font-family: Sherika, "Helvetica Neue", sans-serif;
    font-weight: 700;
    text-align: center;
}

.partners {
  font-family: Sherika, "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 56px;
  margin: 65px auto 0 auto;
  max-width: 900px;
  text-align: center;
}

.partners-blue{
  color: rgb(27, 100, 239);
}

.partners-orange{
  color: rgb(247, 78, 1);
  font-size: 56px;
  margin-top: 60px;
}

.partners-p {
  font-size: 20px;
  text-align: center;
  padding-top: 25px;
}


.center-block {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.btn-con{
  padding: 35px 0 35px 0;
}

.icon-img{
  margin: auto;
  padding-top: 100px;
  max-width: 65px;
  max-height: 60;
}

.testimonials {
  max-height: 600px;
  display: inline-block;
  overflow: hidden;
  min-width: 100%;  
}

.carousel{
  max-width: 800px;
  margin: auto;
  margin-top: 60px;
  margin-bottom:20px;
}

.active{
  color: #fff;

}

.active h3{
  text-align: center;
  font-weight:600;
  font-size: 28px;
}

.active h4{
  text-align: center;
  font-family: Sherika, "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.carousel-control{
  padding-top: 65px;
}

.first-choice-cont{
  margin-bottom: 100px
}

.first-choice-row{
  text-align: center;
  padding-top: 80px;
}

.learn-more-cont{
  min-height: 800px;
}

.learn-more-top-row{
  padding-top: 60px;
  max-width: 800px;
  margin: auto;
}

.learn-more-top-row-cont{
  text-align: left;
}


.learn-more-row{
  margin: auto;
}

.learn-more-col{
 max-width: 490px ; 
 margin: auto;
}

.LM-h4h3{
  color: #fff;
}

.copy{
  color: white;
  font-family: Sherika, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.partners-white{
  font-family: Sherika, "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 56px;
}

.border-orange{
  border-top: 2px solid rgb(247, 78, 1);
  border-bottom: 2px solid rgb(247, 78, 1);
}

.border-blue{
  border-top: 2px solid rgb(27, 100, 239);
  border-bottom: 2px solid rgb(27, 100, 239);
}

